/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
  color:inherit;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
.hidden
{
	display: none;
}
.novel-index
{
  max-width: 200px;
  /*max-height: 200px;*/
}
/*
.novel-title
{
  z-index: 100;
  position: relative;
  color: white;
  font-weight: bold;
  top: -50px;
  background-color: #00000;
}*/
.center
{
  margin: 0 auto;
}
p 
{
  font-size: 1rem
}

button
{
  margin: 10px
}

textarea
{
  min-height: 3rem;
  width: 100%;
  field-sizing: content;
}
