{% extends "layout.html"%}


{% block title%}
	{{name}}: {{chapter.title}}
{% endblock%}


{% block main %}

    <h1 >{{name}}</h1>
    <h2 >{{chapter.title}}</h2>
    <div class="d-flex flex-column justify-content-center ">
      <div>
      {% if previous%}
       <a href="/{{name}}/chapter-{{previous[0].chapter_num}}"><button class="btn btn-primary"><<<<<<</button></a>
      {% endif%}
        <a href="/novel/{{name}}"><button class="btn btn-primary">Chapter List</button></a>
      {% if next_chapter%}
      <a href="/{{name}}/chapter-{{next_chapter[0].chapter_num}}"><button class="btn btn-primary">>>>>>></button></a>
      {% endif%}
      </div>
    
      <div style="text-align: start">{{ chapter.content | safe}}</div>
      <div>
      {% if previous%}
      <a href="/{{name}}/chapter-{{previous[0].chapter_num}}"><button class="btn btn-primary"><<<<<<</button></a>
      {% endif%}
      <a href="/novel/{{name}}"><button class=" btn btn-primary">Chapter List</button></a>
      {% if next_chapter%}
      <a href="/{{name}}/chapter-{{next_chapter[0].chapter_num}}"><button class="btn btn-primary">>>>>>></button></a>
      {% endif%}

      </div>
    </div>
    <hr> 
    <div style="margin: 15px auto">
      <form action="/comments" method="post">
        <div><textarea name="comment" placeholder="comment" class="form-control"/></textarea></div>
        <div><input hidden name="type" value="chapter"></div>
        <div><input hidden name="link" value="/{{name}}/chapter-{{chapter.chapter_num}}" /></div>
        <div><input hidden name="id" id="id" value="{{chapter.chapter_id}}" /></div>
        <button  class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div id="comments" class="list-group">
    </div>
          
{% endblock %}
{% block script%}
  <script>
    const comments = document.getElementById("comments");
    const chapterId = document.getElementById("id");

    document.addEventListener("DOMContentLoaded", async () => {
      let reponse = await fetch(`/comments?chapter=${chapterId.value}`);
      let data = await reponse.json();
      let html = ``;
      
      if (!data)
      {
        comments.textContent = "NO COMMENTS";
        return
      }
      data.forEach(comment => {
        html += `
            <div class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">${comment.username}</h5>
                <small>${comment.date}</small>
              </div>
              <p class="mb-1">${comment.comment}</p>
            </div>
        `
      })
      comments.innerHTML = html;

    })
  </script>
{% endblock%}
