{% extends "layout.html"%}

{% block title %}
    {{user.username}}
{% endblock %}

{% block main %}
    <div class="align-baseline">
      <a href="/create">
        <button class="btn btn-primary">Create New Novel</button>
      </a>
    </div>

    <div id="user-details">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <p>Name</p>
                <p>{{user.username}}</p>
            </li>
            <li class="list-group-item">
                <p>Place of residence</p>
                <p>UNKNOWN</p>
            </li>
            <li class="list-group-item">
                <p>Registered</p>
		<p>{{user.date}}</p>
            </li>
        </ul>
    </div>
    <div>
      <h2 style="margin-top: 25px">User novels</h2>
      <button class="novels-button btn btn-primary" style="margin: 25px">All novels</button>
      <ul class="hidden list-group list-group-flush" id="novels">
      </ul>
    </div>

{% endblock %}

{% block script %}
	<script src="/static/profile.js">
	</script>
{% endblock %}
