{% extends "layout.html" %}

{% block title%}
  Update: {{novel.name}}
{% endblock %}

{% block main %}
<a href="/profile/{{novel.name}}/add-chapter"><button class="btn btn-primary">Add chapter</button></a>
<a href="/delete/{{novel.name}}/0"><button class="btn btn-danger">DELETE NOVEL</button></a>
<form action="/profile/{{novel.name}}/update" method="post">
  <div class="mb-3">
    <input name="new_name" id="novel-name" type="text" value="{{novel.name}}" />
  </div>
    <button class="btn btn-primary" type="submit">Rename</button>
</form>
  <h2>Chapters</h2>
  {% for chapter in chapters%}
    <div class="container">
      <div class="row">
      {{chapter.chapter_num}}. <a class="col-5" href="/{{novel.name}}/chapter-{{chapter.chapter_num}}">{{chapter.title}}</a>
      <a class="col-6" href="/profile/{{novel.name}}/update/chapter-{{chapter.chapter_num}}"><button class="btn btn-primary">UPDATE</button></a>
      </div>
      <hr>

    </div>
  {% endfor %}
{% endblock %}
